body{
    background-color: cadetblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.update {
    width: 90%;
    margin: auto;
}

a {
    text-decoration: none;
    -webkit-transition: background-color color 2s;
    transition: background-color color 2s;
}

a:hover {
    
}

h2 {
    color: chocolate;
}

ul {
   padding: 0; 
   margin: 0;
}

a li { 
    width: 90%;   
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    list-style: none;
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(225, 225, 225, 0.9); 
    -webkit-transition: transform 2s;
    transition: transform 2s;
}



 h2 {
    font-weight: 500;
    font-size: 1em;    
}

li  p {
    font-weight: 300;
    font-size: 1em; 
}

.search_area {
    width: 50%;
    height: 200px;
    margin: 20px auto;
    text-align: center;
}

.search_area label {
    margin: auto;
    font-size: 2em;
    color: rgba(225, 225, 225, 0.9);
}

.search_area input {
    width: 70%;
    height: 35px;
    margin-top: 20px;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
    background-color: rgba(225, 225, 225, 0.7);
}

.search_area a {
    display: block;
    margin: 5px auto;
    padding: 5px;
    width: 40%;
    font-size: 1em;
    border-radius: 5px;
    text-decoration: none;
    background-color: bisque;
    color: rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 600px) {   
    .search_area {
        width: 80%;
        height: 200px;
        margin: 20px auto;
        text-align: center;
    }

    .search_area label {
        margin: auto;
        font-size: 1.4em;
        color: rgba(225, 225, 225, 0.9);
    }

    .search_area input {
        width: 80%;
        height: 35px;
        margin-top: 20px;
        padding: 10px;
        font-size: 0.8em;
        border-radius: 5px;
        border: none;
        background-color: rgba(225, 225, 225, 0.7);
    }

    .search_area a {
        display: block;
        margin: 5px auto;
        padding: 5px;
        width: 40%;
        font-size: 0.8em;
        border-radius: 5px;
        text-decoration: none;
        background-color: bisque;
        color: rgba(0, 0, 0, 0.5);
    }

}

@media screen and (min-width: 600px) {
    a li:hover {
        width: 95%;
        padding: 20px;
        -webkit-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05);
    }
}
